*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:active, a:focus {outline: none;}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
button:active, button:focus {outline: none;}
:focus {outline:none;}
button::-moz-focus-inner {border: 0;}

html {
  font-size: $fs;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  @include f-main();
  color: $color-black;
  @include fsl(20px, 130%);
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  @include fsl(26px);
  @media (min-width: $breakpoint-t) {
    @include fsl(40px);
  }
  @media (min-width: $breakpoint-l) {
    @include fsl(50px);
  }
}

h2 {
  @include fsl(22px);
  @media (min-width: $breakpoint-t) {
    @include fsl(26px);
  }
  @media (min-width: $breakpoint-l) {
    @include fsl(35px);
  }
}

h3 {
  @include fsl(18px);
  @media (min-width: $breakpoint-t) {
    @include fsl(22px);
  }
  @media (min-width: $breakpoint-l) {
    @include fsl(26px);
  }
}

h4 {
  @include fsl(16px);
  @media (min-width: $breakpoint-t) {
    @include fsl(18px);
  }
  @media (min-width: $breakpoint-l) {
    @include fsl(20px);
  }
}

ul,
ol {
  list-style: none;
}

a {
  color: $color-black;
  text-decoration: none;
}

address {
  font-style: normal;
}
