.arrow-icon {
  --pad: 14px;
  @media (max-width: ($breakpoint - 1px)) {
    --pad: 11px;
  }

  position: absolute;
  top: var(--pad);
  right: var(--pad);

  display: flex;
  align-items: center;
  justify-content: center;
  
  &__svg {
    @media (max-width: ($breakpoint - 1px)) {
      width: 14px;
      height: 15px;
    }
    path {
      transition: $transition;
      stroke: $color-black;
    }
  }
}