.aside {
  $comp: &;

  &__content {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &__card {
    border-radius: 4px;
    background: $color-white;

    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__container {
    padding: 20px;
  }

  &__inner {
    margin-top: 20px;
  }

  &__title {
    @include fsl(16px, 120%);
    font-weight: 500;
    cursor: pointer;
    transition: $transition;

    &--hover {
      &:hover {
        color: $color-blue;
  
        #{$comp}__count {
          color: $color-blue;
        }
      }
    }
  }

  &__item {

    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__button {
    padding: 7px 0;

    display: flex;
    justify-content: center;
    
    background: $color-darken-white;
    border-radius: 4px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: $color-light-gray;
    }
  }

  &__text {
    @include fsl(14px, 140%);
    transition: $transition;

    &:hover {
      color: $color-blue;

      #{$comp}__count {
        color: $color-blue;
      }
    }
  }

  &__count {
    padding-left: 8px;
    @include fsl(12px, 140%);
    color: $color-gray;
    transition: $transition;
  }

  &__btn {
    margin-top: 8px;
  }

  &__mobile {
    padding: 10px 16px;

    @media (min-width: $breakpoint) {
      display: none;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid $color-light-gray;
    border-radius: 2px;
    cursor: pointer;
  }
  &__mobile-text {
    @include fsl(14px, 140%);
  }
  &__mobile-icon {
    @include fsl(22px, 110%);
  }

  &__num {
    margin-left: 4px;

    color: $color-blue;
    @include fsl(14px, 140%);
  }
}