.breadcrumbs {
  margin-top: -8px;
  margin-bottom: 24px;

  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-top: 8px;
    margin-right: 8px;
    @include fsl(14px, 110%);

    &:not(:first-child) {
      position: relative;
      z-index: 0;
      margin-left: 16px;

      &::before {
        content: ">";
        position: absolute;
        top: 50%;
        left: -16px;
        transform: translateY(-50%);

        // @include fsl(14px, 110%);
      }
    }
  }

  &__link {
    color: $color-gray;
    
  }
  &__text {
    // @include fsl(14px, 110%);
  }
}