.breadcrumbs {
  margin-top: -8px;
  margin-bottom: 24px;
  @media (max-width: ($breakpoint - 1px)) {
    margin-bottom: 12px;
    margin-top: 0;
    padding: 0 16px;
    margin-left: -16px;
  }

  display: flex;
  @media (max-width: ($breakpoint - 1px)) {
    width: calc(100% + (16px * 2));
    overflow-x: scroll;
    overflow-y: hidden;
    @include scrollbar-hidden;
  }

  &__list {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    @media (max-width: ($breakpoint - 1px)) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    margin-top: 8px;
    margin-right: 8px;
    @include fsl(14px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 0;
      @include fsl(12px, 110%);
      white-space: nowrap;
    }

    &:not(:first-child) {
      position: relative;
      z-index: 0;
      margin-left: 16px;

      &::before {
        content: ">";
        position: absolute;
        top: 50%;
        left: -16px;
        transform: translateY(-50%);
      }
    }
  }

  &__link {
    color: $color-gray;
  }
}