.button-show {
  display: flex;
  align-items: center;

  cursor: pointer;

  &__text {
    margin-right: 9px;
    @media (max-width: ($breakpoint - 1px)) {
      // @include fsl(14px, 140%);
    }
  }
}