.button {
  padding: 14px 22px;

  display: flex;
  justify-content: center;

  background: $color-blue;
  border-radius: 4px;
  color: $color-white;
  // @include fsl(16px, 140%);
  cursor: pointer;
  border: none;
  @include f-main();

  &--md {
    padding: 8px 16px;
    @include fsl(14px, 140%);
  }

  &--xl {
    padding: 14px 45px;
  }

  &--wide {
    width: 100%;
  }

  &--small {
    padding: 8px 0;
    width: 160px;
    @include fsl(14px, 140%);
  }

  &--white {
    background: $color-white;
    color: $color-black;
  }

  &--outline {
    padding: 14px 0;
    border: 1px solid $color-light-gray
  }
}