.button {
  padding: 14px 22px;
  @media (max-width: ($breakpoint - 1px)) {
    padding: 10px 0;
    width: 100%;
  }

  display: flex;
  justify-content: center;

  background: $color-blue;
  border-radius: 4px;
  color: $color-white;
  transition: $transition;
  cursor: pointer;
  border: none;
  @include f-main();
  @media (max-width: ($breakpoint - 1px)) {
    @include fsl(14px, 140%);
  }

  &:hover {
    background: $color-darken-blue;
  }

  &--md {
    padding: 8px 16px;
    @include fsl(14px, 140%);
  }

  &--xl {
    padding: 14px 45px;
  }

  &--wide {
    width: 100%;
  }

  &--small {
    padding: 8px 0;
    width: 160px;
    @media (max-width: ($breakpoint - 1px)) {
      // padding: 10px 0;
      width: 100%;
    }
    @include fsl(14px, 140%);
  }

  &--white {
    background: $color-white;
    color: $color-black;

    &:hover {
      color: $color-white;
      background: $color-blue;
      border-color: $color-blue;
    }
  }

  &--lg {
    padding: 14px 0;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 10px 0;
    }
  }

  &--outline {
    border: 1px solid $color-light-gray;
  }

  &--error {
    min-width: 135px;
  }

  &--menu {
    @media (max-width: ($breakpoint - 1px)) {
      padding: 11px 0;
      @include fsl(10px, 140%);
    }
  }
}