.category-card {
  $comp: &;

  display: block;
  width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
  @media (max-width: ($breakpoint - 1px)) {
    width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
  }

  &:hover {
    #{$comp}__title {
      color: $color-blue;
    }

    .arrow-icon__svg {
      path {
        stroke: $color-blue;
      }
    }
  }

  &__container {
    position: relative;
    z-index: 0;
    padding: 30px 40px;

    height: 116px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 18px 40px;
      height: 74px;
    }
    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-white;
    border-radius: 4px;
  }

  &__title {
    margin-top: 12px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 8px;
      @include fsl(12px, 120%);
    }
    font-weight: 500;
    transition: $transition;
  }
}

