.checkbox {
  $comp: &;

  &--start {

    #{$comp}__label {
      align-items: flex-start;
    }
  }

  &--lg {
    #{$comp}__text {
      @media (max-width: ($breakpoint - 1px)) {
        @include fsl(12px, 140%);
      }
    }
  }

  &__label {
    position: relative;

    display: flex;
    align-items: center;
    cursor: pointer;

    &.parsley-error {

      #{$comp}__box {
        border-color: $color-red;
      }
      
      #{$comp}__text {
        color: $color-red;
      }

      #{$comp}__link {
        color: $color-red;
      }
    }
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;

    opacity: 0;
    visibility: hidden;

    &:checked {
      ~#{$comp}__box {
        background: $color-blue;

        #{$comp}__svg {
          opacity: 1;
        }
      }
    }
  }

  &__box {
    $size: 24px;

    width: $size;
    height: $size;
    
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    border: 1px solid $color-light-gray;
    transition: $transition;
  }

  &__svg {
    opacity: 0;
    transition: $transition;
  }

  &__text {
    margin-left: 12px;
    @include fsl(14px, 140%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px, 140%);
    }
    transition: $transition;
  }

  &__link {
    color: $color-blue;
  }

  .parsley-errors-list  {
    display: none;
  }
}