.counter {
  $comp: &;
  --size: 50px;
  @media (max-width: ($breakpoint - 1px)) {
    --size: 30px;

    width: 100%;
  }

  display: flex;
  align-items: center;

  &--md {
    #{$comp}__number {
      width: 50px;
      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
      }
    }
  }

  &__item {

    width: var(--size);
    height: var(--size);

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $color-light-gray;
    cursor: pointer;
    transition: $transition;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }

  &__icon {
    @include fsl(22px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(18px, 110%);
    }
  }

  &__number {
    --width: 110px;
    @media (max-width: ($breakpoint - 1px)) {
      --width: 100%;
    }

    width: var(--width);
    height: var(--size);

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $color-light-gray;
    border-left: none;
    border-right: none;
    @include fsl(16px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px, 110%);
    }
  }
}