.discont {
  $comp: &;

  padding: 1px 11px;
  position: relative;
  z-index: 0;

  background: $color-light-green;
  border-radius: 4px;

  &::before {
    content: "%";
    position: absolute;
    z-index: -1;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);

    color: $color-white;
    @include fsl(43px, 140%);
  }

  &--small {
    padding: 5px 10px;
    #{$comp}__text {
      @include fsl(13px, 140%);
    }
  }

  &__text {
    @include fsl(18px, 140%);
  }
}