.features-list {
  $comp: &;

  &--small {
    #{$comp}__item {

      &::before {
        @media (max-width: ($breakpoint - 1px)) {
          --size: 4px;
          top: 9px;
        }
      }
    }
  }

  &__item {
    position: relative;
    padding-left: 43px;
    @media (max-width: ($breakpoint - 1px)) {
      padding-left: 27px;

      @include fsl(14px, 120%);
    }

    &:not(:first-child) {
      margin-top: 12px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 8px;
      }
    }

    &::before {
      --size: 11px;

      content: "";
      position: absolute;
      left: 0;
      top: 6px;

      width: var(--size);
      height: var(--size);

      background: $color-blue;
    }
  }
}