.form {

  &--disabled {

    .profile-page__form-grid {
      opacity: 0.4;
      pointer-events: none;
    }
    .profile-page__button {
      display: flex;
    }
    .profile-page__form-buttons {
      display: none;
    }
  }

  // &__title {
  //   text-align: center;
  // }

  &__item {

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__input {
    padding: 15px 12px;
    width: 100%;

    background: $color-white;
    border: 1px solid $color-light-gray;
    border-radius: 4px;
    @include fsl(14px, 140%);
    @include placeholder {
      color: $color-black;
    }
  }
  
  &__textarea {
    padding: 15px 12px;

    width: 100%;
    min-height: 100px;

    @include fsl(14px, 140%);
    border-radius: 4px;
    border: 1px solid $color-light-gray;
    background: $color-white;
    resize: none;
    @include placeholder {
      color: $color-black;
    }
  }
}