.header {
  $comp: &;

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;

  min-width: 100vw;

  // background: $color-white;
  transition: $transition;
  @media print {
    display: none;
  }

  &--up {
    @media (min-width: $breakpoint) {
      transform: translateY(-80px);

      #{$comp}__logo {
        transform: scale(0.55) translateY(80px) translateZ(0);
      }
    }
  }

  &.menu {
    .mobile-menu__overlay {
      opacity: 1;
      pointer-events: all;
    }

    .mobile-menu__container {
      transform: translateX(0);
    }

    #{$comp}__menu {
      background: $color-black;
    }

    #{$comp}__burger-span {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(45deg);
      }
    }
  }

  &--show {
    #{$comp}__panel {
      @media (min-width: $breakpoint) {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__inner {
    padding: 20px 30px 0 20px;

    @media (max-width: ($breakpoint - 1px)) {
      padding: 8px 16px;
    }

    display: flex;

    @media (max-width: ($breakpoint - 1px)) {
      justify-content: space-between;
      align-items: center;
    }

    background: $color-white;
    border-bottom: 1px solid $color-light-gray;
  }

  &__logo {
    margin-right: 60px;

    @media (max-width: ($breakpoint-ll - 1px)) {
      margin-right: 30px;
    }

    @media (max-width: ($breakpoint-ll - 1px)) {
      width: 150px;
    }

    @media (max-width: ($breakpoint - 1px)) {
      margin-right: 0;
      width: auto;
    }

    display: flex;
    justify-content: center;

    transition: $transition;
  }

  &__svg {
    transform: perspective(1px) translateZ(0);
    @media (max-width: ($breakpoint - 1px)) {
      width: 73px;
      height: 30px;
    }
  }

  &__body {
    width: 100%;

    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &__top {
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid $color-light-gray;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:first-child) {
      margin-left: 32px;
    }
  }

  &__link {
    @include fsl(14px, 140%);
    font-weight: 500;
    transition: $transition;

    &:hover {
      color: $color-blue;
    }
  }

  &__label {
    @include fsl(12px, 140%);
    color: $color-gray;
  }

  &__bot {
    // margin-top: 20px;
    min-height: 65px;
    display: flex;
  }

  &__col {
    flex-shrink: 0;
    display: flex;
    align-items: center;

    &:nth-child(1) {
      margin-right: 32px;
    }

    &:nth-child(2) {
      margin: -1px 0;
      flex-grow: 1;
      flex-shrink: 1;
    }

    &:nth-child(3) {
      padding-left: 60px;
      @media (max-width: ($breakpoint-xxl - 1px)) {
        padding-left: 30px;
      }
      @media (max-width: ($breakpoint-ll - 1px)) {
        padding-left: 20px;
      }
      justify-content: flex-end;
    }
  }

  &__accordion {
    margin-right: 32px;

    @media (max-width: ($breakpoint-ll - 1px)) {
      margin-right: 20px;
    }

    @media (max-width: ($breakpoint-l - 1px)) {
      margin-right: 15px;
    }

    &.active {
      #{$comp}__accordion-text {
        color: $color-blue;
      }

      #{$comp}__accordion-svg {
        transform: rotate(180deg);

        path {
          stroke: $color-blue;
        }
      }
    }
  }

  &__accordion-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      #{$comp}__accordion-text {
        color: $color-blue;
      }

      #{$comp}__accordion-svg {
        path {
          stroke: $color-blue;
        }
      }
    }
  }

  &__accordion-text {
    @include fsl(18px, 140%);
    @media (max-width: ($breakpoint-xl - 1px)) {
      @include fsl(16px);
    }
    @media (max-width: ($breakpoint-ll - 1px)) {
      @include fsl(14px);
    }
    transition: $transition;
  }

  &__accordion-icon {
    margin-left: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__accordion-svg {
    transition: $transition;

    path {
      transition: $transition;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-item {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-left: 32px;

      @media (max-width: ($breakpoint-xl - 1px)) {
        margin-left: 25px;
      }

      @media (max-width: ($breakpoint-ll - 1px)) {
        margin-left: 15px;
      }
    }
  }

  &__nav-link {
    @include fsl(14px, 140%);
    @media (max-width: ($breakpoint-xl - 1px)) {
      @include fsl(12px);
    }
    transition: $transition;

    &:hover {
      color: $color-blue;
    }
  }

  &__nav-button {
    display: flex;
    align-items: center;

    cursor: pointer;

    &:hover {
      #{$comp}__nav-text {
        color: $color-blue;
      }

      #{$comp}__nav-svg {
        path {
          stroke: $color-blue;
        }
      }
    }

    &.active {
      #{$comp}__nav-text {
        color: $color-blue;
      }

      #{$comp}__nav-svg {
        transform: rotate(180deg);

        path {
          stroke: $color-blue;
        }
      }
    }
  }

  &__nav-text {
    @include fsl(14px, 140%);
    @media (max-width: ($breakpoint-xl - 1px)) {
      @include fsl(12px);
    }
    transition: $transition;
  }

  &__nav-icon {
    margin-left: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav-svg {
    transition: transform $transition;

    path {
      transition: $transition;
    }
  }

  &__form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__search {
    padding-left: 32px;
    @media (max-width: ($breakpoint-xxl - 1px)) {
      padding-left: 20px;
    }
    @media (max-width: ($breakpoint-ll - 1px)) {
      padding-left: 15px;
    }

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    border: 1px solid $color-light-gray;
    cursor: pointer;
    transition: $transition;

    &:focus-within {
      @media (min-width: $breakpoint) {
        border-color: $color-blue;

        #{$comp}__search-svg {
          circle {
            stroke: $color-blue;
          }

          line {
            stroke: $color-blue;
          }
        }
      }
    }
  }

  &__search-icon {
    margin-right: 15px;
    margin-top: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    background: none;
    border: none;
  }

  &__search-svg {
    @media (max-width: ($breakpoint-xl - 1px)) {
      width: 25px;
    }
    @media (max-width: ($breakpoint - 1px)) {
      width: 24px;
      height: 25px;
    }

    circle {
      transition: $transition;
    }

    line {
      transition: $transition;
    }
  }

  &__search-input {
    width: 100%;

    border: none;
    @include fsl(14px, 140%);
    @include f-main();

    @include placeholder {
      color: $color-gray;
    }
  }

  &__links {
    display: flex;
  }

  &__cart {
    // position: relative;
    // z-index: 0;

    display: block;

    &:hover {
      #{$comp}__cart-svg {
        path {
          stroke: $color-blue;
        }
      }
    }
  }

  &__cart-container {
    position: relative;
    z-index: 0;
  }

  &__cart-icon {
    display: flex;
    align-items: center;
  }

  &__cart-svg {
    @media (max-width: ($breakpoint-xl - 1px)) {
      width: 33px;
    }
    @media (max-width: ($breakpoint - 1px)) {
      width: 32px;
      height: 30px;
    }

    path {
      transition: $transition;
    }
  }

  &__cart-count {
    --size: 16px;

    @media (max-width: ($breakpoint - 1px)) {
      --size: 13px;
    }

    position: absolute;
    z-index: 1;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);

    width: var(--size);
    height: var(--size);

    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-blue;
    border-radius: 50%;
    color: $color-white;
    @include fsl(12px, 140%);

    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px, 110%);
    }
  }

  &__user {
    position: relative;
    z-index: 0;
    margin-left: 20px;
    @media (max-width: ($breakpoint-ll - 1px)) {
      margin-left: 10px;
    }

    &:hover {
      #{$comp}__user-svg {
        circle {
          stroke: $color-blue;
        }

        path {
          stroke: $color-blue;
        }
      }
    }

    &.loged:hover {
      // #{$comp}__user-svg {
      //   circle {
      //     stroke: $color-blue;
      //   }

      //   path {
      //     stroke: $color-blue;
      //   }
      // }

      #{$comp}__user-links {
        opacity: 1;
        pointer-events: all;
      }

      #{$comp}__user-label {
        color: $color-blue;
        border-color: $color-blue;
      }
    }
  }

  &__user-svg {
    @media (max-width: ($breakpoint-xl - 1px)) {
      width: 25px;
    }
  }

  &__user-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
  }

  &__user-links {
    position: absolute;
    right: 0;
    top: 100%;
    padding-top: 25px;

    opacity: 0;
    pointer-events: none;
    transition: $transition;
  }

  &__user-container {
    width: 210px;

    background: $color-white;
    border-radius: 4px;
  }

  &__user-top {
    padding: 12px 20px;

    border-bottom: 1px solid $color-light-gray;
  }

  &__user-name {
    font-weight: 500;
    line-height: 120%;
  }

  &__user-list {
    padding: 12px 20px;
  }

  &__user-item {

    &:not(:first-child) {
      margin-top: 4px;
    }
  }

  &__user-link {
    @include fsl(14px, 140%);
    transition: color $transition;

    &:hover {
      color: $color-blue;
    }
  }

  &__user-svg {
    circle {
      transition: $transition
    }

    path {
      transition: $transition;
    }
  }

  &__user-label {
    padding: 7px 8px;

    @include fsl(16px, 120%);
    font-weight: 500;
    border-radius: 50px;
    border: 2px solid $color-black;
    transition: $transition;
    cursor: pointer;
  }

  &__mobile {
    display: none;

    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }

  &__mobile-row {
    display: flex;
    align-items: center;
  }

  &__mobile-col {

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__mobile-search {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &.active {
      color: red;

      #{$comp}__search-svg {
        circle {
          stroke: $color-blue;
        }

        line {
          stroke: $color-blue;
        }
      }
    }
  }

  &__menu {
    --size: 30px;

    position: relative;
    z-index: 1;

    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-blue;
    border-radius: 4px;
    cursor: pointer;
    transition: $transition;
  }

  &__burger {
    position: relative;
    z-index: 0;

    width: 16px;
    height: 13px;
  }

  &__burger-span {

    &:nth-child(1),
    &:nth-child(3) {
      content: '';
      position: absolute;
      left: 0;

      width: 16px;
      height: 1px;

      contain: content;
      background: $color-white;
      transition: .3s;
      will-change: transform;
    }

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(3) {
      bottom: 0;
    }

    &:nth-child(2) {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      width: 16px;
      height: 1px;

      background: $color-white;
      transition: .3s;
    }
  }

  &__modal {
    background: $color-white;

    &--active {

      #{$comp}__modal-overlay {
        visibility: visible;
      }
    }
  }

  &__modal-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100%;

    height: 300vh;

    background: rgba($color-black, 0.2);
    visibility: hidden;
    transition: $transition;
  }

  &__modal-product {
    display: none;
  }

  &__modal-container {
    padding: 24px calc(#{$col-pad-d}) 38px calc(#{$col-part-d} + #{$col-pad-d});

    @media (max-height: 800px) {
      overflow-y: scroll;
      @include scrollbar-hidden;
      max-height: 550px;
    }
  }

  &__modal-row {
    display: flex;
  }

  &__modal-col {
    &:nth-child(1) {
      padding-right: 50px;

      flex-shrink: 0;
      width: calc(#{$col-part-d} * 3);

      @media (max-width: ($breakpoint-ll - 1px)) {
        width: calc(#{$col-part-d} * 4);
      }
    }

    &:nth-child(2) {
      @media (min-width: $breakpoint) {
        margin-top: 16px;
        width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
      }
    }
  }

  &__modal-list {
    padding: 20px;

    background: #F4F4F4;
    border-radius: 4px;

    &--transparent {
      background: transparent;
    }
  }

  &__modal-item {
    font-weight: 500;
    cursor: pointer;
    transition: $transition;

    &:hover {
      #{$comp}__modal-link {
        color: $color-blue;
      }
    }

    &:not(:first-child) {
      margin-top: 20px;
    }

    &.active {
      color: $color-blue;
    }
  }

  &__modal-link {
    transition: $transition;
  }

  &__listing {
    display: none;

    &.active {
      display: block;
    }
  }

  &__listing-item {
    display: flex;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__listing-link {
    transition: $transition;
    @include fsl(14px, 120%);

    &:hover {
      color: $color-blue;
    }
  }

  &__panel {
    margin-top: -1px;
    position: absolute;
    top: 100%;

    width: 100%;

    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }

    opacity: 0;
    pointer-events: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}