.header {

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;

  background: $color-white;
  
  &__inner {
    padding: 20px 20px 0;

    display: flex;

    border-bottom: 1px solid $color-light-gray;
  }

  &__logo {
    margin-right: 60px;
  }

  &__body {
    width: 100%;
  }

  &__top {
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid $color-light-gray;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:first-child) {
      margin-left: 32px;
    }
  }

  &__link {
    @include fsl(14px, 140%);
    font-weight: 500;
  }

  &__label {
    @include fsl(12px, 140%);
    color: $color-gray;
  }

  &__bot {
    // margin-top: 20px;
    min-height: 65px;
    display: flex;
  }

  &__col {
    flex-shrink: 0;
    display: flex;
    align-items: center;

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 6);

      border-right: 1px solid $color-light-gray;
    }
    &:nth-child(2) {
      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});

      border-right: 1px solid $color-light-gray;
    }
    &:nth-child(3) {
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  &__accordion {
    margin-right: 32px;
  }
  &__accordion-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
  }
  &__accordion-text {
    @include fsl(18px, 140%);
  }
  &__accordion-icon {
    margin-left: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav {
    display: flex;
  }
  &__nav-item {

    &:not(:first-child) {
      margin-left: 32px;
    }
  }
  &__nav-link {
    @include fsl(14px, 140%);
  }
  &__nav-button {
    display: flex;
    align-items: center;

    cursor: pointer;
  }
  &__nav-text {
    @include fsl(14px, 140%);
  }
  &__nav-icon {
    margin-left: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__search {
    margin-left: 32px;

    display: flex;
    align-items: center;
  }
  &__search-icon {
    margin-right: 15px;
    margin-top: 7px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__search-text {
    @include fsl(14px, 140%);
    color: $color-gray;
  }

  &__links {
    display: flex;
  }

  &__cart {
    position: relative;
    z-index: 0;

    display: block;
  }
  &__cart-icon {
    display: flex;
    align-items: center;
  }
  &__cart-count {
    $size: 16px;

    position: absolute;
    z-index: 1;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);

    width: $size;
    height: $size;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-blue;
    border-radius: 50%;
    color: $color-white;
    @include fsl(12px, 140%);
  }

  &__user {
    margin-left: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
  }
}