.login-modal {

  display: none;

  border-radius: 4px;

  &__wrapper {
    margin-bottom: 24px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 16px;
    }

    display: flex;
    justify-content: center;
  }

  &__container {
    padding: 60px;

    @media (max-width: ($breakpoint - 1px)) {
      padding: 24px 20px;
    }

    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});

    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-m} * 4 - #{$col-gap-m});
    }

    background: $color-white;
  }

  &__inner {
    margin-bottom: 32px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 16px;
    }

    display: flex;
    justify-content: center;
  }

  &__text {
    @include fsl(12px, 140%);

    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px, 140%);
    }

    text-align: center;
  }

  &__form {
    display: none;

    &.active {
      display: block;
    }
  }

  &__title {
    margin-bottom: 16px;
    text-align: center;
  }

  &__caption {
    margin-bottom: 28px;
    text-align: center;
  }

  &__item {
    margin-top: 12px;

    display: flex;
    justify-content: center;
  }

  &__link {
    color: $color-blue;
    @include fsl(14px, 140%);
    text-decoration: underline;
    cursor: pointer;
  }
}

.docs-modal {
  position: absolute;
  top: 0;
  right: 0;

  width: 780px;
  height: 100%;

  @media (max-width: ($breakpoint - 1px)) {
    left: 16px;
    width: auto;
  }

  display: none;

  background: $color-white;

  &__container {
    padding: 40px;

    @media (max-width: ($breakpoint - 1px)) {
      padding: 19px 16px;
    }
  }

  &__title {
    margin-bottom: 35px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 16px;
    }
  }
}

.phone-modal {

  display: none;

  &__container {
    padding: 60px;

    @media (max-width: ($breakpoint - 1px)) {
      padding: 24px 20px;
    }

    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});

    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-m} * 4 - #{$col-gap-m});
    }

    background: $color-white;
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 32px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 20px;
    }

    text-align: center;
  }
}

.search-modal {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  z-index: -1;

  display: none;

  @media (max-width: ($breakpoint - 1px)) {
    display: block;
  }

  background: $color-white;
  transition: transform $transition;

  &.active {
    transform: translateY(0);
  }

  &__form {
    padding: 8px 16px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__input {
    width: 100%;

    border: none;
    @include fsl(12px, 140%);
    color: $color-black;
    @include f-main;

    @include placeholder {
      color: $color-gray;
    }
  }

  &__button {
    --size: 30px;
    margin-left: 10px;
    padding: 6px;

    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-darken-white;
    border-radius: 4px;
  }
}

.profile-modal {
  position: absolute;
  top: 0;
  right: 0;

  display: none;
  width: 190px;
  height: 100%;

  background: $color-white;
  transition: transform $transition;

  &__container {
    padding: 48px 0;
  }

  &__top {
    padding: 0 20px 12px;

    border-bottom: 1px solid $color-light-gray;
  }

  &__body {
    padding: 12px 20px 0;
  }

  &__item {

    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__link {
    @include fsl(14px, 140%);
  }
}

.fancybox-slide--html .fancybox-close-small {
  --size: 30px;

  top: 10px;
  right: 10px;

  @media (max-width: ($breakpoint - 1px)) {
    top: 8px;
    right: 16px;
    padding: 6px;

    width: var(--size);
    height: var(--size);
  }

  background: $color-darken-white;
  border-radius: 4px;
}

.fancybox-slide.fancybox-slide--html {
  padding-top: 80px;

  @media (max-width: ($breakpoint - 1px)) {
    padding-top: 16px;
  }
}


/* Custom animation slide-in-out */
.fancybox-fx-slide-in-out.fancybox-slide--previous {
  transform: translateX(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--next {
  transform: translateX(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--current {
  transform: translateX(0);
}