.model-tabs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 12px;
  @media (max-width: ($breakpoint - 1px)) {
    padding: 0 16px;
    margin-left: -16px;
    
    column-gap: 12px;
    flex-wrap: nowrap;
    width: calc(100% + (16px * 2));

    overflow-x: scroll;
    @include scrollbar-hidden;
  }

  &__item {
    padding-bottom: 12px;
    @media (max-width: ($breakpoint - 1px)) {
      padding-bottom: 8px;
    }

    border-bottom: 1px solid transparent;
    transition: $transition;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 500;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 140%);
    }

    &:hover {
      color: $color-blue;
    }

    &.active {
      color: $color-blue;
      border-color: $color-blue;
    }
  }
}