.model-tabs {
  display: flex;

  &__item {
    padding-bottom: 12px;

    border-bottom: 1px solid transparent;
    transition: $transition;
    cursor: pointer;
    font-weight: 500;

    &:not(:first-child) {
      margin-left: 24px;
    }

    &.active {
      color: $color-blue;
      border-color: $color-blue;
    }
  }
}