.panel {
  $comp: &;

  display: flex;
  @media (max-width: ($breakpoint - 1px)) {
    flex-wrap: wrap;
  }

  background: $color-white;
  border-radius: 4px;
  overflow: hidden;

  &__col {
    flex-shrink: 0;
    &:nth-child(1) {
      width: calc(#{$col-part-d} * 3);
      @media (max-width:($breakpoint-l - 1px)) {
        width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
      }
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 11px;
        width: calc((#{$col-width-m}));
      }
    }
    &:nth-child(2) {
      padding: 20px 0;
      width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
      @media (max-width: ($breakpoint - 1px)) {
        padding: 11px 12px 0 8px;
        width: calc((#{$col-part-m} * 3));
      }
    }
    &:nth-child(3) {
      padding: 20px 20px 20px 0;
      margin-left: auto;
      @media (max-width: ($breakpoint - 1px)) {
        padding: 12px;
        margin-left: 0;
        
        width: 100%;
      }
    }
  }

  &__text {
    margin-right: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-right: 0;
      @include fsl(12px, 140%);
    }
  }

  &__container {
    padding: 10px 20px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 5px 15px;
    }
    max-width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}