.product-card {
  $comp: &;

  border-radius: 4px;
  overflow: hidden;
  background: $color-white;
  transition: $transition;

  &:hover {
    filter: drop-shadow(0px 10px 24px rgba(0, 0, 0, 0.04));
    
    #{$comp}__title {
      color: $color-blue;
    }
  }

  &--responsive {
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
    }
  }

  &__inner {
    padding: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 4px 8px 8px;
    }
  }

  &__container {
    position: relative;
    z-index: 0;
  }

  &__top {
    --pad: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      --pad: 4px;
    }

    position: absolute;
    top: var(--pad);
    left: var(--pad);
    right: var(--pad);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  &__logo {
    max-width: 64px;
    @media (max-width: ($breakpoint - 1px)) {
      max-width: 32px;
    }
    display: block;
  }

  &__label {
    color: $color-gray;
    @include fsl(12px, 140%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px, 110%);
    }
  }
  
  &__title {
    margin-top: 4px;
    @include fsl(16px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px, 110%);
    }
    font-weight: 500;
    transition: $transition;
  }

  &__info {
    margin-top: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &__item {
    padding-bottom: 8px;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid $color-light-gray;

    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__text {
    @include fsl(14px, 110%);
  }

  &__price {
    margin-top: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 12px;
    }
    display: flex;
  }
  &__price-price {
    @include fsl(20px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px, 110%);
    }
    font-weight: 500;
  }
  &__price-old {
    margin-left: 12px;

    color: $color-gray;
    @include fsl(14px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: 8px;
      @include fsl(10px, 110%);
    }
    text-decoration: line-through;
  }

  &__bot {
    margin-top: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 12px;
    }
    
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
    justify-content: space-between;
  }

  &__btn {
    width: calc(#{$col-width-d});
    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
    }
  }

  &__button {
    padding: 12px 18px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 4px;
      padding: 6px 17px;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-blue;
    border-radius: 4px;
    transition: $transition;

    &:hover {
      background: $color-darken-blue;
    }
  }
  &__button-text {
    @media (min-width: $breakpoint) {
      display: none;
    }

    margin-left: 8px;

    color: $color-white;
    @include fsl(12px, 140%);
  }

  &__svg {
    width: 28px;
    height: 25px;
    @media (max-width: ($breakpoint - 1px)) {
      width: 21px;
      height: 20px;
    }

    path {
      stroke: $color-white;
    }
  }
}