.section {
  margin-top: 80px;
  @media (max-width: ($breakpoint - 1px)) {
    
  }

  &--first {
    margin-top: 175px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 63px;
    }
  }

  &--last {
    margin-bottom: 100px;
    @media (max-width: ($breakpoint - 1px)) {
      
    }
  }

  &--white {
    background: $color-white;
  }

  &--table {
    margin-top: 0;
    padding-bottom: 100px;
  }

  &--md {
    margin-top: 60px;
  }

  &--default {
    margin-top: 0;
  }

  &__title {
    margin-bottom: 48px;
    @media (max-width: ($breakpoint - 1px)) {
      
    }
  }

  &__block {
    margin-top: 20px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
    }
    &:nth-child(2) {
      width: calc(#{$col-part-d} * 9 - #{$col-gap-d});
    }
  }

  &__button {
    margin-top: 48px;
    padding: 14px 0;

    display: flex;
    justify-content: center;

    background: $color-white;
    border-radius: 4px;
  }

  &__inner {
    margin-bottom: 42px;
  }
}