.slider-buttons {
  --size: 64px;

  display: flex;

  &__item {
    &:not(:first-child) {
      margin-left: 8px;
    }
  }

  &__button {
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-black;
    border-radius: 4px;
    cursor: pointer;
  }

  &__svg {
    
    path {
      stroke: $color-white;
    }
  }

  &__left {
    transform: rotate(-135deg);
  }
  &__right {
    transform: rotate(45deg);
  }
}