.slider-buttons {
  $comp: &;
  --size: 64px;

  display: flex;
  user-select: none;

  &--small {
    --size: 44px;
    @media (max-width: ($breakpoint - 1px)) {
      --size: 32px;
    }

    #{$comp}__button {
      background: $color-light-gray;
    }

    #{$comp}__svg {
      width: 15px;
      path {
        stroke: $color-black;
      }
    }
  }

  &--wide {
    width: 100%;
    justify-content: space-between;

    #{$comp}__svg {
      @media (max-width: ($breakpoint - 1px)) {
        width: 11px;
      }
    }
  }

  &__item {
    &:not(:first-child) {
      margin-left: 8px;
    }
  }

  &__button {
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-black;
    border-radius: 4px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background: $color-blue;

      #{$comp}__svg {
        path {
          stroke: $color-white;
        }
      }
    }
  }

  &__svg {
    path {
      transition: $transition;
      stroke: $color-white;
    }
  }

  &__left {
    transform: rotate(-135deg);
  }
  &__right {
    transform: rotate(45deg);
  }
}