.tabs {
  $comp: &;
  
  display: flex;

  background: $color-white;
  border-radius: 4px;

  @media (max-width: ($breakpoint - 1px)) {
    overflow-x: scroll;
    @include scrollbar-hidden;
  }

  &--column {
    flex-direction: column;

    background: transparent;

    #{$comp}__item {
      padding: 20px;
      background: $color-white;
      
      &:not(:first-child) {
        margin-top: 4px;
      }
 
      &.active {
        background: $color-blue;
      }
    }
  }

  &__item {
    padding: 14px 24px;

    transition: $transition;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;

    &.active {
      background: $color-blue;
      color: $color-white;
    }
  }
}

.tabs-block {
  display: none;

  &.active {
    display: block;
  }
}