.tabs {
  $comp: &;
  
  display: flex;

  background: $color-white;
  border-radius: 4px;

  &--column {
    flex-direction: column;

    background: transparent;

    #{$comp}__item {
      background: $color-white;
      
      &:not(:first-child) {
        margin-top: 4px;
      }

      &--active {
        background: $color-blue;
      }
    }
  }

  &__item {
    padding: 14px 24px;

    transition: $transition;
    border-radius: 4px;
    cursor: pointer;

    &--active {
      background: $color-blue;
      color: $color-white;
    }
  }
}