.tooltip {
  $comp: &;
  --size: 9px;

  &--start {

    #{$comp}__row {
      align-items: flex-start;
    }

    #{$comp}__span {
      margin-top: 5px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__span {
    padding-left: 4px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__svg {
    @media (max-width: ($breakpoint - 1px)) {
      width: var(--size);
      height: var(--size);
    }
  }
  
  &__container {
    display: none;
  }
}