.booking-page {

  &__inner {
    margin-top: 40px;
  }

  &__button {
    display: flex;
    align-items: center;
  }
  &__button-icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button-svg {
    transform: rotate(90deg);
  }
  &__button-text {
    @include fsl(14px, 140%);
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__col {
    flex-shrink: 0;
    &:nth-child(1) {
      width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    }

    &:nth-child(2) {
      width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
    }
  }

  &__title {
    @include fsl(24px, 120%);
  }

  &__text {
    max-width: 539px;
  }

  &__container {
    padding: 20px;
  }

  &__form {

    &.disabled {
      opacity: .4;
      pointer-events: none;
    }
  }

  &__block {}
  &__block-row {
    display: flex;
    justify-content: space-between;
  }
  &__block-col {
    flex-shrink: 0;
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
  }
  &__block-title {
    margin: 40px 0 20px;
    text-transform: uppercase;
    @include fsl(12px, 120%);
  }

  &__item {
    display: flex;
  }
  &__item-col {
    
    &:nth-child(2) {
      margin-left: 16px;
    }
  }
  &__item-icon {
    margin-top: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item-num {
    margin-bottom: 4px;
    @include fsl(24px, 120%);
  }
  &__item-label {
    @include fsl(14px, 140%);
    color: $color-gray;
  }
}