.booking-page {
  $comp: &;

  &__inner {
    margin-top: 40px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 24px;
    }
  }

  &__description {
    margin-top: 12px;
    @media (min-width: $breakpoint) {
      margin-top: 20px;
      @include fsl(18px);
    }
    @include fsl(16px, 140%);
  }

  &__button {
    display: flex;
    align-items: center;
  }
  &__button-icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button-svg {
    transform: rotate(90deg);
  }
  &__button-text {
    @include fsl(14px, 140%);
  }

  &__row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
    justify-content: space-between;

    &.disabled {
      #{$comp}__form {
        opacity: .4;
        pointer-events: none;
      }
    }
  }
  &__col {
    flex-shrink: 0;
    &:nth-child(1) {
      width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
      }
    }

    &:nth-child(2) {
      width: 340px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 24px;
        width: 100%;
      }
    }
  }

  &__title {
    font-weight: 500;
    @include fsl(24px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px, 120%);
    }
  }

  &__text {
    max-width: 539px;
    @media (max-width: ($breakpoint - 1px)) {
      max-width: none;
      @include fsl(14px, 140%);
    }
  }

  &__container {
    padding: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 12px;
    }
  }

  &__block {}
  &__block-row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 20px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: 8px;
      }
    }
  }
  &__block-col {
    flex-shrink: 0;
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
    }

    &:not(:last-child) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: 8px;
      }
    }
  }
  &__block-title {
    margin: 40px 0 20px;
    @include fsl(12px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      margin: 24px 0 16px;
      @include fsl(10px, 120%);
    }
    text-transform: uppercase;
  }
  &__block-item {
    display: none;
    &.active {
      display: block;
    }
  }

  &__item {
    display: flex;
  }
  &__item-col {
    
    &:nth-child(2) {
      margin-left: 16px;
    }
  }
  &__item-text {
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 140%);
    }
  }
  &__item-icon {
    margin-top: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item-num {
    margin-bottom: 4px;

    font-weight: 500;
    @include fsl(24px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px, 120%);
    }
  }
  &__item-label {
    color: $color-gray;
    @include fsl(14px, 140%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px, 120%);
    }
  }

  &__product {
    padding: 20px;
    border-radius: 4px;
    background: $color-white;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 0;
      border-radius: 0;
      background: transparent;
    }
  }
  &__product-inner {
    margin-bottom: 20px;
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
  &__product-item {
    &:nth-child(1) {
      width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
      @media (max-width: ($breakpoint-xl - 1px)) {
        width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
      }
    }
    &:nth-child(3) {
      margin-left: 31px;
    }
    &:nth-child(4) {
      margin-left: 83px;
      @media (max-width: ($breakpoint-xl - 1px)) {
        margin-left: 60px;
      }
    }
  }
  &__product-row {
    margin-top: 27px;
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 16px;
      display: block;
    }
    justify-content: space-between;
  }
  &__product-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 8 - #{$col-gap-d});
      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
      }
    }

    &:nth-child(2) {
      width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
      @media (max-width: ($breakpoint-ll - 1px)) {
        width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
      }
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 24px;
        width: 100%;
      }
    }
  }
  &__product-text {
    @include fsl(14px, 140%);
  }

  &__card-col {
    flex-shrink: 0;
    &:nth-child(1) {
      width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }
    &:nth-child(2) {
      width: calc(#{$col-width-d} - #{$col-gap-d});
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }
  }
  &__card-inner {
    margin-top: 20px;
  }
  &__card-row {
    display: flex;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__card-text {
    @include fsl(14px, 140%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px, 120%);
    }
    font-weight: 500;
  }

  &__list {
    @media (max-width: ($breakpoint - 1px)) {
      --gap: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: var(--gap);
      column-gap: var(--gap);
    }
  }
  &__list-item {

    &:last-child {
      @media (max-width: ($breakpoint - 1px)) {
        grid-column: span 2;
      }
    }
    &:not(:first-child) {
      margin-top: 9px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 0;
      }
    }
  }
  &__list-text {
    @media (max-width: $breakpoint) {
      margin-bottom: 2px;
      @include fsl(12px, 120%);
    }
    @include fsl(14px, 120%);
  }
}