.cart-page {
  $comp: &;

  &__row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
    justify-content: space-between;
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 9 - #{$col-gap-d});
      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 24px;
        width: 100%;
      }
    }
  }

  &__counter {
    @media (max-width: ($breakpoint - 1px)) {
      width: 124px;
    }
  }

  &__label {
    margin-bottom: 8px;
    @include fsl(14px, 140%);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 4px;
      @include fsl(12px, 140%);
    }
    color: $color-gray;
  }

  &__caption {
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 140%);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__card {
    background: $color-white;
    border-radius: 4px;
  }
  &__card-top {
    padding: 20px 20px 24px 20px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 16px 12px;
    }

    border-bottom: 1px solid $color-light-gray;
  }
  &__card-title {
    margin-bottom: 16px;
    @include fsl(18px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 120%);
    }
  }
  &__card-label {
    margin-top: 24px;
    text-transform: uppercase;
    color: $color-gray;
    @include fsl(12px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px, 120%);
    }
  }
  &__card-body {}
  &__card-item {
    padding: 12px 20px;
    border-bottom: 1px solid $color-light-gray;
  }
  &__card-row {
    display: flex;
    justify-content: space-between;
  }
  &__card-text {
    font-weight: 500;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 140%);
    }
  }
  &__card-bot {
    padding: 24px 20px 20px;
  }
  &__card-price {
    max-width: 165px;

    @include fsl(18px, 120%);
    font-weight: 700;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 120%);
    }
  }
  &__card-num {
    @include fsl(18px, 120%);
    font-weight: 700;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(20px, 120%);
    }
  }
  &__card-caption {
    margin-top: 12px;
    @include fsl(12px, 140%);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 8px;
      @include fsl(10px, 140%);
    }
    color: $color-gray;
  }
  &__card-btn {
    margin-top: 24px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 16px;
    }
  }
  &__card-list {
    margin-bottom: 24px;
  }
  &__card-thing {

    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  &__warning {
    padding: 12px 20px 12px 16px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 12px;
    }

    background: $color-white;
    border-radius: 4px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
  }
  &__warning-row {
    display: flex;
  }
  &__warning-col {
    &:nth-child(2) {
      margin-left: 20px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 16px;
      }
    }
  }
  &__warning-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__warning-svg {
    $size: 25px;
    width: $size;
    height: $size;
  }
  &__warning-title {
    margin-bottom: 2px;
    @include fsl(13px, 140%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(11px, 140%);
    }
    font-weight: 500;
  }
  &__warning-text {
    @include fsl(12px, 140%);
  }

  &__top {
    margin-bottom: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
  &__top-row {
    display: flex;
  }
  &__top-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 5);
    }
    &:nth-child(2) {
      min-width: 150px;
    }
    &:nth-child(3) {
      margin-left: 40px;
      min-width: 80px;
    }
    &:nth-child(4) {
      margin-left: 40px;
    }
  }
  &__top-label {
    text-transform: uppercase;
    color: $color-gray;
    @include fsl(12px, 120%);
  }

  &__list {
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 16px;
    }
  }

  &__item {
    background: $color-white;
    border-radius: 4px;
    overflow: hidden;

    &:not(:first-child) {
      margin-top: 8px;
    }

    &--sm {
      margin: 0;

      #{$comp}__item-col {
        &:nth-child(1) {
          width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
          @media (max-width: ($breakpoint - 1px)) {
            width: 100%;
          }
        }
        &:nth-child(3) {
          @media (max-width: ($breakpoint - 1px)) {
            margin-left: 0;
          }
        }
        &:nth-child(4) {
          @media (max-width: ($breakpoint - 1px)) {
            margin-left: 8px;
          }
        }
      }
      #{$comp}__item-row {
        @media (max-width: ($breakpoint - 1px)) {
          grid-template-areas: 
            "A A A A"
            "B B C D"
            ". . E E"
          ;
        }
      }
    }
  }
  &__item-row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      padding-bottom: 12px;

      display: grid;
      grid-template-areas: 
        "A A A A"
        "B B C C"
        ". . D E"
      ;
      grid-template-columns: calc(#{$col-width-m} / 2) calc(#{$col-width-m} / 2) auto auto;
      row-gap: 12px;
    }
  }
  &__item-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 5);
      display: flex;
      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
        grid-area: A;
      }
    }
    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 8px;
        grid-area: C;
      }
    }
    &:nth-child(3) {
      margin-left: 40px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 8px;
        grid-area: D;
      }
    }
    &:nth-child(4) {
      margin-left: 40px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 0;
        grid-area: E;
      }
    }
    &:nth-child(5) {
      padding: 20px 20px 20px 0;

      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      @media (max-width: ($breakpoint - 1px)) {
        padding: 0;
        flex-grow: 0;
        justify-content: center;
        grid-area: B;
      }
    }
  }
  &__item-image {
    display: flex;
    align-items: flex-start;
    width: calc(#{$col-part-d});
    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-width-m});
      flex-shrink: 0;
    }
  }
  &__item-container {
    padding: 20px 0;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 0;
    }
  }
  &__item-content {
    margin-left: 40px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: 8px;
      margin-top: 12px;
    }
  }
  &__item-text {
    margin-bottom: 8px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 4px;
      @include fsl(12px, 120%);
    }
    font-weight: 500;
  }
  &__item-label {
    color: $color-gray;
    @include fsl(12px, 140%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px, 140%);
    }
  }
  &__item-price {
    line-height: 110%;
    font-weight: 500;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 140%);
    }
  }
  &__item-old {
    margin-top: 4px;
    color: $color-gray;
    @include fsl(12px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px, 140%);
    }
  }
  &__item-icon {
    display: flex;
    // align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &__item-caption {
    margin-bottom: 8px;

    display: none;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;

      color: $color-gray;
      @include fsl(10px, 120%);
      text-transform: uppercase;
    }
  }
}