.contacts-page {
  $comp: &;

  &__row {
    display: flex;

    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }

    align-items: center;
    justify-content: space-between;

    @media print {
      display: none;
    }
  }

  &__button {
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 32px;
    }

    display: flex;
    align-items: center;

    cursor: pointer;

    &:hover {
      #{$comp}__button-svg {
        path {
          fill: $color-blue;
        }
      }

      #{$comp}__button-text {
        color: $color-blue;
      }
    }
  }

  &__button-icon {
    margin-right: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button-svg {
    path {
      transition: fill $transition;
    }
  }

  &__button-text {
    @include fsl(14px, 140%);
    transition: color $transition;
  }

  &__inner {
    margin-top: 40px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 16px;
    }

    @media print {
      margin-top: 16px;
    }
  }

  &__label {
    color: $color-gray;
    @include fsl(14px, 140%);

    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px, 140%);
    }

    @media print {
      @include fsl(12px, 140%);
    }
  }

  &__link {
    margin-top: 2px;
    display: block;
    font-weight: 500;

    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 140%);
    }

    @media print {
      @include fsl(14px, 140%);
    }

    transition: $transition;

    &:hover {
      color: $color-blue;
    }
  }

  &__text {
    margin-top: 2px;

    font-weight: 500;
    @include fsl(14px, 140%);
  }

  &__title {
    margin-bottom: 40px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 20px;
    }

    @media print {
      margin-bottom: 20px;
    }
  }

  &__block {
    margin-top: 20px;

    @media (min-width: ($breakpoint - 1px)) {
      margin-top: 12px;
    }
  }

  &__section {}

  &__section-row {
    display: flex;

    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }

    justify-content: space-between;

    @media print {
      display: flex;
    }
  }

  &__section-col {
    flex-shrink: 0;

    @media print {
      width: 50%;
      display: block;
    }

    &:nth-child(1) {
      margin-right: calc(#{$col-gap-d});
      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
      @media (max-width: ($breakpoint - 1px)) {
        margin-right: 0;
        width: auto;
      }
    }

    &:nth-child(2) {
      width: calc(#{$col-part-d} * 8 - #{$col-gap-d});
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 20px;
        width: auto;
      }
      @media (max-width: ($breakpoint-m - 1px)) {
        margin-top: 12px;
      }

      @media print {
        margin-top: 12px;
      }
    }
  }

  &__grid {
    --itemCount: 2;
    --gap: 20px;

    @media (max-width: ($breakpoint-m - 1px)) {
      --itemCount: 1;
      --gap: 12px;
      row-gap: var(--gap);
    }

    @media print {
      --itemCount: 1;
      --gap: 20px;
    }

    display: grid;
    grid-template-columns: repeat(var(--itemCount), 1fr);
    @media (max-width: ($breakpoint - 1px)) {
      grid-template-columns: repeat(var(--itemCount), calc(#{$col-part-alt} * 2 - #{$col-gap-m}));
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      grid-template-columns: 1fr;
    }
    column-gap: var(--gap);
    row-gap: var(--gap);
  }

  &__map {
    height: 100%;
    min-height: 260px;
    @media (max-width: ($breakpoint-m - 1px)) {
      min-height: 190px;
    }
  }
}

.placemarks {
  display: none;
}