.docs-page {

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    @include fsl(18px, 140%);
  }

  &__image {
    max-width: 135px;
    display: block;
  }
}