.equip-detail {

  &__inner {
    margin-bottom: 80px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 40px;
    }
  }

  &__row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  
  &__col {
    &:nth-child(1) {
      flex-shrink: 0;
      width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
    &:nth-child(2) {
      margin-left: 80px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 0;
        margin-top: 40px;
      }
      width: 100%;
    }
  }

  &__section-info {
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 12px;
    }
  }
  &__section-text {
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      @include fsl(14px, 140%);
    }
  }
  &__section-inner {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 16px;
      display: block;
    }
  }
  &__section-item {
    flex-shrink: 0;
    width: calc(#{$col-part-d} * 2);
    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;

      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }
  &__section-panel {
    margin-top: 30px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 24px;
    }
  }
  

  &__image {
    margin-top: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 0;
      order: -1;
    }
  }

  &__panel {
    padding: 22px 24px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 12px;
    }
    background: $color-darken-white;
    border-radius: 4px;
  }
  &__panel-row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
    justify-content: space-between;
  }
  &__panel-col {
    &:nth-child(1) {
      max-width: 415px;
      @media (max-width: ($breakpoint - 1px)) {
        max-width: auto;
        margin-bottom: 12px;
      }
    }
  }
  &__panel-text {
    @include fsl(18px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 120%);
    }
    font-weight: 500;
  }

  &__title {
    margin-bottom: 32px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 16px;
    }
  }

  &__list {}
  &__list-item {
    padding-bottom: 14px;

    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      padding-bottom: 8px;
      display: block;
    }
    justify-content: space-between;

    border-bottom: 1px solid $color-light-gray;

    &:not(:first-child) {
      margin-top: 24px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 8px;
      }
    }
  }
  &__list-text {
    flex-shrink: 0;
    width: calc(28% - 10px);
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
      @include fsl(14px, 140%);
    }

    &:first-child {
      margin-right: 10px;
      width: 72%;
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }

    &.small {
      @include fsl(14px, 140%);
      @media (max-width: ($breakpoint - 1px)) {
        @include fsl(12px, 140%);
      }
    }
  }
}