.equip-page {
  $comp: &;

  &__inner {
    margin-top: 48px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 40px;
    }

    &--lg {
      margin-top: 60px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 40px;
      }
    }
  }

  &__list {}
  &__list-item {

    &:not(:first-child) {
      margin-top: 20px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 32px;
      }
    }
  }
  
  &__card {
    display: block;

    background: $color-white;
    border-radius: 4px;
    overflow: hidden;
    @media (max-width: ($breakpoint - 1px)) {
      background: transparent;
    }

    &:hover {
      #{$comp}__card-title {
        color: $color-blue;
      }

      .arrow-icon__svg {
        path {
          stroke: $color-blue;
        }
      }
    }
  }
  &__card-row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
    justify-content: space-between;
  }
  &__card-col {
    flex-shrink: 0;
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
    }

    &:nth-child(1) {
      @media (max-width: ($breakpoint - 1px)) {
        position: relative;
        z-index: 0;
      }
      .arrow-icon {
        @media (min-width: $breakpoint) {
          display: none;
        }
      }
    }

    &:nth-child(2) {
      position: relative;
      z-index: 0;

      .arrow-icon {
        @media (max-width: ($breakpoint - 1px)) {
          display: none;
        }
      }
    }
  }
  &__card-image {
    display: flex;
    align-items: center;

    @media (max-width: ($breakpoint - 1px)) {
      border-radius: 4px;
      overflow: hidden;
    }
  }
  &__card-container {
    padding: 48px calc(#{$col-part-d} * 2) 48px 0;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 15px 0 0;
    }
  }
  &__card-title {
    margin-bottom: 24px;
    @include fsl(24px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 12px;
      @include fsl(16px, 120%);
    }
    font-weight: 500;
    transition: $transition;
  }
  &__card-item {
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px, 120%);
    }
    color: $color-gray;
    transition: $transition;

    &:not(:first-child) {
      margin-top: 12px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 8px;
      }
    }
  }

  &__grid {
    --gap: 20px;
    --countItems: 3;
    @media (max-width: ($breakpoint - 1px)) {
      --gap: 32px;
      --countItems: 1;
    }

    display: grid;
    grid-template-columns: repeat(var(--countItems), 1fr);
    row-gap: var(--gap);
    column-gap: var(--gap);

    &--alt {
      --countItems: 4;
      @media (max-width: ($breakpoint - 1px)) {
        --countItems: 1;
      }
      // grid-template-columns: repeat(var(--countItems), 1fr);
    }
  }

  &__features {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }
  }
  &__features-block {
    margin-top: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 40px;
    }
  }
  &__features-row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
    justify-content: space-between;
  }
  &__features-col {
    flex-shrink: 0;
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
    }

    &:nth-child(2) {
      margin-right: calc(#{$col-part-d});
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 40px;
        margin-right: 0;
      }
    }
  }
  &__features-title {
    margin-bottom: 32px;
    @include fsl(18px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 16px;
      @include fsl(14px, 120%);
    }
  }
  &__features-caption {
    margin-bottom: 48px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 24px;
      @include fsl(12px, 120%);
    }
    font-weight: 500;
  }
  &__features-text {
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 140%);
    }
  }

  &__text {
    font-weight: 500;
    @include fsl(24px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px, 120%);
    }
  }

  &__table {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
  &__table-head {
    padding: 0 130px;
    display: block;
    border-bottom: 1px solid $color-light-gray;
  }
  &__table-wrapper {
    padding: 16px 0;
    display: flex;
    align-items: center;
  }
  &__table-body {
    display: block;
  }
  &__table-inner {
    margin-top: -1px;

    display: block;
    
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: $transition;

    &:hover {
      border-color: $color-light-gray;
      background: $color-darken-white;

      #{$comp}__table-cell {
        color: $color-blue;
      }
    }
  }
  &__table-line {
    margin: 0 130px -1px;
    padding: 24px 0;

    display: flex;

    border-bottom: 1px solid $color-light-gray;
  }
  &__table-cell {
    padding-right: 36px;
    width: calc(#{$col-part-d} * 2);

    transition: $transition;

    &:last-child {
      padding-right: 0;

      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
    }
  }
  &__table-title {
    color: $color-gray;
    @include fsl(12px, 140%);
  }
  &__table-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: ($breakpoint - 1px)) {
      justify-content: flex-end;
    }
  }

  &__block {
    
  }
  &__block-list {
    
    @media (min-width: $breakpoint) {
      display: none;
    }
    border-bottom: 1px solid $color-light-gray;
  }
  &__block-item {
    padding-top: 16px;

    border-top: 1px solid $color-blue;
  }
  &__block-link {
    display: block;
  }
  &__block-top {
    padding-bottom: 12px;
    margin: 0 16px;

    display: flex;
    align-items: center;

    border-bottom: 1px solid $color-light-gray;

    #{$comp}__block-text {
      margin-left: 10px;
    }
  }
  &__block-caption {
    color: $color-gray;
    @include fsl(10px, 140%);
  }
  &__block-body {
    margin: 12px 16px;
    

    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
    column-gap: 8px;
  }
  &__block-label {
    margin-bottom: 4px;

    color: $color-gray;
    @include fsl(10px, 140%);
  }
  &__block-text {
    @include fsl(14px, 140%);
  }
}