.error-page {
  

  &__inner {
    padding: 100px 0 70px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 0;
    }
  }

  &__row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
    }
  }

  &__col {
    &:nth-child(1) {
      flex-shrink: 0;
      width: calc(#{$col-part-d} * 7);
      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: 10px;
        order: -1;
      }
    }
  }

  &__error {
    margin-bottom: 15px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 8px;
      @include fsl(60px, 100%);
    }
    @include fsl(185px, 100%);
    color: $color-blue;
  }

  &__title {
    margin-bottom: 12px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 8px;
    }
  }

  &__text {
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 140%);
    }
  }

  &__buttons {
    --itemsCount: 4;
    --gap: 8px;
    @media (max-width: ($breakpoint-ll - 1px)) {
      --itemsCount: 2;
    }
    @media (max-width: ($breakpoint - 1px)) {
      --itemsCount: 1;
    }

    margin-top: 40px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 24px;
    }
    display: grid;
    grid-template-columns: repeat(var(--itemsCount), max-content);
    @media (max-width: ($breakpoint - 1px)) {
      grid-template-columns: repeat(var(--itemsCount), auto);
    }
    column-gap: var(--gap);
    row-gap: var(--gap);
  }

  &__item {
    display: flex;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__svg {
    --size: 80px;

    @media (max-width: ($breakpoint - 1px)) {
      width: var(--size);
      height: var(--size);
    }
  }
}