.instruments-page {
  $comp: &;

  &__title {
    margin-bottom: 48px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 0;
      margin-right: 15px;

      @include fsl(14px, 120%);
    }
    @include fsl(32px, 120%);
    font-weight: 500;
    transition: $transition;
  }

  &__section {
    margin-top: 80px;
    padding: 0 130px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 0;
      margin-top: -1px;

      border-bottom: 1px solid $color-light-gray;
      border-top: 1px solid $color-light-gray;
    }
    transition: $transition;

    &:last-child {
      margin-bottom: 100px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: 60px;
      }
    }

    &.active {
      position: relative;
      border-color: $color-blue;

      #{$comp}__button {
        background: transparent;
      }

      #{$comp}__title {
        color: $color-blue;
      }

      #{$comp}__icon {
        transform: rotate(180deg);
      }

      #{$comp}__svg {
        path {
          stroke: $color-blue;
        }
      }
    }
  }
  &__section-container {
    @media (max-width: ($breakpoint - 1px)) {
      padding: 20px 16px;

      display: none;
    }
  }

  &__button {
    @media (max-width: ($breakpoint - 1px)) {
      padding: 9px 17px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      
      background: $color-white;
      cursor: pointer;
      transition: $transition;
    }
  }

  &__icon {
    display: none;
    @media (max-width: ($breakpoint - 1px)) {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $transition;
    }
  }
  
  &__svg {
    path {
      transition: $transition;
    }
  }

  &__tabs {
    padding: 20px 0 0;

    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
    
    background: $color-white;
    border-top: 1px solid $color-light-gray;
    border-bottom: 1px solid $color-light-gray;

    &.hidden {
      opacity: 0;
    }
  }
  &__tabs-container {
    margin-bottom: -1px;

    display: grid;
    grid-template-columns: repeat(6, auto);
    column-gap: 66px;
    @media (max-width: ($breakpoint-xl - 1px)) {
      column-gap: 30px;
    }
    @media (max-width: ($breakpoint-l - 1px)) {
      column-gap: 20px;
    }
  }
  &__tabs-item {
    padding-bottom: 20px;
    position: relative;
    z-index: 0;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 1px;

      background: transparent;
      transition: $transition;
    }

    &:hover::before  {
      background: $color-blue;
    }

    &.active {

      &::before {
        background: $color-blue;
      }

      #{$comp}__tabs-text {
        color: $color-blue
      }
    }
  }
  &__tabs-text {
    @include fsl(14px, 140%);
    font-weight: 500;
    transition: $transition;

    &--wide {
      width: 220px;
    }
  }

  &__grid {
    --itemsCount: 4;
    @media (max-width: ($breakpoint - 1px)) {
      --itemsCount: 1;
    }
    display: grid;
    grid-template-columns: repeat(var(--itemsCount), 1fr);
    column-gap: 20px;
    row-gap: 40px;
    @media (max-width: ($breakpoint - 1px)) {
      row-gap: 20px;
    }
  }

  &__card {

    &:hover {
      #{$comp}__card-title {
        color: $color-blue;
      }

      .arrow-icon__svg {
        path {
          stroke: $color-blue;
        }
      }
    }
  }
  &__card-container {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;

    border-radius: 4px;
    overflow: hidden;
  }
  &__card-title {
    margin-top: 12px;
    @include fsl(18px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 8px;
      @include fsl(14px, 120%);
    }
    font-weight: 500;
    transition: $transition;
  }
  &__card-text {
    margin-top: 8px;
    @include fsl(14px, 140%);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 4px;
      @include fsl(12px, 120%);
    }
  }

  &__panel {
    padding: 20px;

    display: flex;
    justify-content: space-between;

    background: $color-white;
    border-radius: 4px;
  }
  &__panel-col {
    flex-shrink: 0;
    &:nth-child(1) {
      margin-left: calc(#{$col-part-d} * 2);
      width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
    }
  }

  &__container {
    --itemsCount: 3;
    --gap: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      --itemsCount: 2;
      --gap: 8px;
    }

    display: grid;
    grid-template-columns: repeat(var(--itemsCount), 1fr);
    column-gap: var(--gap);
    row-gap: var(--gap);
  }
}