.profile-page {

  &__accordion {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
  &__accordion-col {
    flex-shrink: 0;
    width: calc(#{$col-part-d} * 2);

    &:last-child {
      width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
    }
  }
  &__accordion-label {
    color: $color-gray;
    @include fsl(12px, 120%);
    text-transform: uppercase;
  }
  &__accordion-list {}
  &__accordion-item {

    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
    justify-content: space-between;
  }
  
  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
      @media (max-width: ($breakpoint-xl - 1px)) {
        width: calc(#{$col-part-d} * 2);
      }
      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 32px;
        width: 100%;
      }
    }
  }

  &__panel {
    padding: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 12px;
    }

    background: $color-white;
    border-radius: 4px;
  }
  &__panel-label {
    margin-bottom: 12px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 6px;
      @include fsl(10px, 120%);
    }
    @include fsl(12px, 120%);
    text-transform: uppercase;
  }
  &__panel-title {
    margin-bottom: 40px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 16px;
    }
    font-weight: 500;
    @include fsl(24px, 120%);
    @media (max-width: ($breakpoint-ll - 1px)) {
      @include fsl(22px, 120%);
    }
    @media (max-width: ($breakpoint-l - 1px)) {
      @include fsl(20px, 120%);
    }
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px, 120%);
    }
  }
  &__panel-discont {
    display: flex;
  }

  &__info {}
  &__info-title {
    margin-bottom: 16px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 12px;
      @include fsl(14px, 120%);
    }
    @include fsl(18px, 120%);
    font-weight: 500;
  }
  &__info-text {
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 140%);
    }
  }
  &__info-contacts {
    margin-top: 16px;
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      justify-content: space-between;
    }
  }
  &__info-col {
    
    &:nth-child(1) {
      flex-shrink: 0;
      width: calc(#{$col-part-d} * 2);
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }
  }
  &__info-link {
    display: block;

    @include fsl(20px, 140%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px, 140%);
    }
    font-weight: 500;
  }
  &__info-label {
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 2px;
      @include fsl(12px, 140%);
    }
    color: $color-gray;
  }
  &__info-time {
    @include fsl(14px, 140%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px, 140%);
    }
    font-weight: 500;
  }

  &__form {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
    justify-content: space-between;
  }
  &__form-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
      }
    }

    &:nth-child(2) {
      margin-top: 35px;
      width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
      @media (max-width: ($breakpoint - 1px)) {
        display: none;
      }
    }
  }
  &__form-grid {
    --gridCount: 2;
    --rowGap: 24px;
    --colGap: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      --gridCount: 1;
      --rowGap: 16px;
    }

    display: grid;
    grid-template-columns: repeat(var(--gridCount), 1fr);
    row-gap: var(--rowGap);
    column-gap: var(--colGap);
  }
  &__form-item {

    &:last-child {
      grid-column: -1/2;
      @media (max-width: ($breakpoint - 1px)) {
        grid-column: auto;
      }
    }
  }
  &__form-label {
    margin-bottom: 12px;
  }
  &__form-buttons {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__form-btn {

    &:not(:first-child) {
      margin-left: 12px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 8px;
        margin-left: 0;
      }
    }
  }

  &__buttons {
    margin-top: 40px;
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 24px;
      display: block;
    }
  }

  &__button {
    padding: 8px 0;

    display: none;
    align-items: center;
    justify-content: center;
    width: 160px;
    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
    }
    
    background: $color-white;
    border-radius: 4px;
    cursor: pointer;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    margin-left: 10px;
    @include fsl(14px, 140%);
  }
}