.services-page {

  &__card {
    display: block;

    border-radius: 4px;
    overflow: hidden;
    background: $color-white;
  }
  &__card-row {
    display: flex;
    justify-content: space-between;
  }
  &__card-col {
    flex-shrink: 0;
    &:nth-child(1) {
      width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
    }
    &:nth-child(2) {
      position: relative;
      z-index: 0;
      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
    }
  }
  &__card-image {
    display: flex;
    align-items: center;

    border-radius: 4px;
    overflow: hidden;
  }
  &__card-container {
    padding: 18px 18px 18px 0;
  }
  &__card-title {
    margin-bottom: 12px;
    @include fsl(18px, 120%);
  }
  &__card-text {
    @include fsl(14px, 140%);
  }
  &__card-icon {
    position: absolute;
    bottom: 14px;
    right: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__card-svg {
    path {
      stroke: $color-black;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
      }
    }

    &:nth-child(2) {
      width: calc(#{$col-part-d} * 8 - #{$col-gap-d});
    }
  }

  &__title {
    max-width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
  }

  &__image {
    display: flex;
    align-items: center;
    
    border-radius: 4px;
    overflow: hidden;
  }
}