extends ../layouts/master.pug

include ../components/navigation
include ../components/button
include ../components/counter
include ../components/model-tabs

block content 
  .booking-page.cart-page 
    section.section.section--first.section--last 
      .container 
        +navigation(page='Оформить заказ')
        a.booking-page__button.booking-page__inner(href="#") 
          .booking-page__button-icon
            +arrow-svg.booking-page__button-svg
          .booking-page__button-text
            |Вернуться в корзину
        h3.booking-page__inner
          |Ваш заказ
        .booking-page__product-row 
          .booking-page__product-col
            .booking-page__product
              .booking-page__product-inner
                each item in ['товар', 'кол-во', 'цена', 'итого'] 
                  .booking-page__product-item
                    .cart-page__top-label
                      |#{item}
              ul.booking-page__product-list  
                - for (i = 0; i < 6; i++)
                  li.cart-page__item.cart-page__item--sm
                    .cart-page__item-row 
                      .cart-page__item-col
                        .cart-page__item-image 
                          img(src="assets/images/product.jpg", alt="")
                        .cart-page__item-container 
                          .cart-page__item-content
                            .cart-page__item-text 
                              |Раскатник R-D TICN 376 ISO2X M14X2 2P
                            .cart-page__item-label 
                              |Артикул: 9353014BTC
                      .cart-page__item-col 
                        .cart-page__item-container 
                          .cart-page__item-caption 
                            |цена
                          .booking-page__product-text 
                            |12 шт.
                      .cart-page__item-col
                        .cart-page__item-container 
                          .cart-page__item-caption 
                            |цена
                          .tooltip
                            .cart-page__item-price.tooltip__row
                              |€ 93.42
                              span.tooltip__span
                                .tooltip__icon 
                                  +tooltip-svg.tooltip__svg
                            .tooltip__container   
                              |Цена с НДС по курсу ЦБ на 25.06.2021
                      .cart-page__item-col
                        .cart-page__item-container
                          .cart-page__item-caption 
                            |цена
                          .cart-page__item-price 
                            |€ 1279.2
          .booking-page__product-col
            .cart-page__card 
              .booking-page__container 
                .cart-page__card-row 
                  .booking-page__card-col
                    .cart-page__card-price 
                      |Предварительная стоимость, ₽
                  .booking-page__card-col
                    .cart-page__card-price 
                      |89 0000
                .cart-page__card-caption 
                  |Цена с НДС по курсу ЦА на 25.06.2021
                .booking-page__card-row.booking-page__card-inner
                  .cart-page__card-col
                    .booking-page__card-text 
                      |Доставка
                  .cart-page__card-col
                    .booking-page__card-text
                      |Транспортная компания
                .cart-page__card-btn 
                  +button.button--wide 
                    |Завершить оформление