extends ../layouts/master.pug

include ../components/navigation
include ../components/button

block content 
  .cart-page 
    section.section.section--first 
      .container 
        ul.breadcrumbs 
          li.breadcrumbs__item 
            a.breadcrumbs__link(href="#") 
              |Главная
          li.breadcrumbs__item 
            .breadcrumbs__text 
              |Корзина
        .cart-page__icon 
          +cart-empty-svg.cart-page__icon-svg.mobile
        h1.nav-title
          |Ваша корзина пуста
    section.section.section--last
      .cart-page__icon 
        +cart-empty-svg.desktop