extends ../layouts/master.pug

include ../components/navigation
include ../components/docs-card
include ../components/tabs


block content 
  .docs-page 
    section.section.section--first 
      .container 
        +navigation(page='ТДокументация')
    section.section
      .container 
        .docs-page__row 
          .docs-page__col
            +tabs(tabs = ['Оборудование', 'Инструменты'])
          .docs-page__col
            |selects
    section.section.section--md
      .container 
        .docs-page__row 
          .docs-page__col
            h2.docs-page__title 
              |Токарные станки с ЧПУ
            .docs-page__text 
              |Общие документы
          .docs-page__col 
        .docs-page__grid.margin-top.margin-top--md 
          - for (i = 0; i < 3; i++)
            +docs-card
    each item in ['Leadwell CNC machines mfg., corp.', 'Force One machinery', 'SFM', 'GSM', 'POLY GIM']
      section.section 
        .container
          .docs-page__row 
            .docs-page__col
              h2.docs-page__title 
                |Токарные станки с ЧПУ
              .docs-page__text 
                |Общие документы
            .docs-page__col   
              img.docs-page__image(src="assets/images/docs-1.jpg", alt="")
          .docs-page__grid.margin-top.margin-top--md 
            - for (i = 0; i < 3; i++)
              +docs-card
    section.section.section--last.margin-top
      .container 
        .section__button 
          .button-show 
            .button-show__text 
              |Показать еще
            .button-show__icon 
              +arrow-svg
