extends ../layouts/master.pug

include ../components/navigation
include ../components/equip-card


block content 
  .equip-page 
    section.section.section--first 
      .container 
        +navigation(items=['Оборудование'] page='Токарные станки с ЧПУ')
    section.section
      .container 
        .equip-page__grid 
          - for (i = 0; i < 8; i++)
            +equip-card.equip-card--md(text = 'Токарные станки с ЧПУ на направляющих качения с максимальной частотой вращения шпинделя 6000 об/мин и возможностью установки фрезерного привода. Длинные заготовки возможно обрабатывать, используя заднюю бабку, поджимая автоматическим задним центром, также возможна обработка длинных валов, как в ручном, так и в автоматическом люнете.')
    section.section 
      .container 
        h2.section__title 
          |Токарный станок с ЧПУ
        .equip-page__features 
          .equip-page__features-row 
            .equip-page__features-col
              h4.equip-page__features-title 
                |Предназначен для выполнения следующего вида работ:
              ul.features-list
                each item in ['Точение диаметральных размеров (внешних и внутренних);', 'Продольные проточки;', 'Точение фасонных и конических заготовок;', 'Отрезание заготовок по размерам;', 'Растачивание готовых отверстий;', 'Нанесение резьбы (метрической, дюймовой);', 'Токарные станки по металлу с ЧПУ отличаются высокой точностью обработки поверхностей и позволяют изготавливать детали с минимальными допусками.', ]
                  li.features-list__item
                    |#{item}
            .equip-page__features-col
              h4.equip-page__features-title 
                |Особенности токарных станков с ЧПУ
              p.equip-page__features-text
                |Как и все оборудование с числовым программным управлением, токарные станки этого типа работают практически автономно, что позволяет максимально оптимизировать производство.
        .equip-page__features.equip-page__inner
          .equip-page__features-row 
            .equip-page__features-col
              h4.equip-page__features-title 
                |Предназначен для выполнения следующего вида работ:
              ul.features-list
                each item in ['Точение диаметральных размеров (внешних и внутренних);', 'Продольные проточки;', 'Точение фасонных и конических заготовок;', 'Отрезание заготовок по размерам;', 'Растачивание готовых отверстий;', 'Нанесение резьбы (метрической, дюймовой);', 'Токарные станки по металлу с ЧПУ отличаются высокой точностью обработки поверхностей и позволяют изготавливать детали с минимальными допусками.', ]
                  li.features-list__item
                    |#{item}
            .equip-page__features-col
              h4.equip-page__features-title 
                |Надежное оборудование от «ИРЛЕН-ИНЖИНИРИНГ»
              p.equip-page__features-caption
                |Наша компания предлагает токарные станки по металлу различных видов.
              h4.equip-page__features-title 
                |Вы можете приобрести станки:
              ul.features-list
                each item in ['Точение диаметральных размеров (внешних и внутренних);', 'Продольные проточки;', 'Точение фасонных и конических заготовок;', 'Отрезание заготовок по размерам;', 'Растачивание готовых отверстий;', 'Нанесение резьбы (метрической, дюймовой);', 'Токарные станки по металлу с ЧПУ отличаются высокой точностью обработки поверхностей и позволяют изготавливать детали с минимальными допусками.', ]
                  li.features-list__item
                    |#{item}
    section.section.section--last 
      .container 
        p.equip-page__text 
          |Также Вы можете приобрести специализированное программное обеспечение для токарного оборудования с ЧПУ. Чтобы получить дополнительную информацию об оборудовании, представленном на сайте, и оформить заказ, обратитесь к нашим менеджерам.           