extends ../layouts/master.pug

include ../components/button

block header

block content 
  .container 
    .pages 
      ul.pages__list 
        each item in data.routing
          li.pages__item 
            a.button(href="") 
              |#{item.page}


block footer