extends ../layouts/master.pug

include ../components/navigation

block content 
  .instruments-page 
    section.section.section--first 
      .container 
        +navigation(page = 'Инструменты')
    section.section 
      .container 
        .instruments-page__tabs(data-tabs='')
          each item, i in ['Корпусной режущий инструмент', 'Осевой режущий инструмент', 'Вспомогательный инструмент для фрезерных станков с ЧПУ', 'Вспомогательный инструмент для токарных станков с ЧПУ', 'Приспособления', 'Аксессуары для инструмента']
            .instruments-page__tabs-item(class=(i === 0 ? 'active' : '') data-tabs-item='' )
              .instruments-page__tabs-text(class=(i === 2 || i === 3 ? "instruments-page__tabs-text--wide" : '')) 
                |#{item}
    each item, i in ['Корпусной режущий инструмент', 'Осевой режущий инструмент', 'Вспомогательный инструмент для фрезерных станков с ЧПУ', 'Вспомогательный инструмент для токарных станков с ЧПУ', 'Аксессуары для инструмента', ]
      section.section(class=(i === 4 ? 'section--last' : ''))
        .container 
          h2.section__title 
            |#{item}
          .instruments-page__grid 
            - for (j = 0; j < 10; j++)
              a.instruments-page__card(href="#") 
                .instruments-page__card-container 
                  img(src="assets/images/instrument-1.jpg", alt="")
                  .arrow-icon
                    +big-arrow-svg.arrow-icon__svg 
                .instruments-page__card-title 
                  |Пластины для точения
                .instruments-page__card-text 
                  |Твердосплавные пластины наиболее универсальны в использовании