extends ../layouts/master.pug

include ../components/navigation
include ../components/product-card
include ../components/aside
include ../components/button


block content 
  .search-page 
    section.section.section--first 
      .container 
          .breadcrumbs
            ul.breadcrumbs__list
              li.breadcrumbs__item 
                a.breadcrumbs__link(href="#") 
                  |Главная
              li.breadcrumbs__item 
                .breadcrumbs__text 
                  |Результаты поиска
          h1.nav-title
            |Результаты поиска по запросу «фрезыв»
    section.section.section--last 
      .container 
        form.search-page__search(action="/") 
          .search-page__row
            .search-page__col 
              input.search-page__input(type="text" value='B1-3')
            .search-page__col 
              +button.button--wide.button--search
                |Поиск
        .search-page__result.margin-top.margin-top--md
          |Поиск не дал результатов