extends ../layouts/master.pug

include ../components/navigation
include ../components/product-card
include ../components/aside
include ../components/button


block content 
  .search-page 
    section.section.section--first.section--last
      .container 
        .breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item 
              a.breadcrumbs__link(href="#") 
                |Главная
            li.breadcrumbs__item 
              .breadcrumbs__text 
                |Результаты поиска
        h1.nav-title
          |Результаты поиска по запросу «B1-3»
        .search-page__text.search-page__inner
          |Найдено результатов: 25
        form.search-page__search(action="/") 
          .search-page__row
            .search-page__col 
              input.search-page__input(type="text" value = 'B1-3')
            .search-page__col 
              +button.button--wide.button--search
                |Поиск
        .section__row.margin-top
          .section__col
            .search-page__aside
              .aside 
                each item in data.searchAside
                  .aside__card
                    .aside__container 
                      h5.aside__title.aside__title--hover
                        |#{item.title} 
                        span.aside__count 
                          |#{item.count}
                      ul.aside__list.aside__inner
                        each el in item.items
                          li.aside__item 
                            a.aside__text(href="#") 
                              |#{el.text}
                              span.aside__count 
                                |#{el.count}
          .section__col
            .search-page__grid 
              - for (i = 0; i < 12; i++)
                +product-card
            .button-show-wrapper
              .button-show 
                .button-show__text 
                  |Показать еще
                .button-show__icon 
                  +arrow-svg.button-show__svg
  +product-modal