extends ../layouts/master.pug


block content 
  .success-page 
    section.success-page__section 
      .container
        h1.success-page__title 
          |Заказ оформлен
        p.succes-page__text 
          |Мы свяжемся с вами в течении 10 минут для подтверждения заказа.
        .success-page__icon 
          +success-svg