// fonts

$fs: 16px;

$ff-main: 'Formular', sans-serif;
$ff-2: 'Agoka', sans-serif;
$ff-3: 'BonVivant', sans-serif;

@mixin f-main($font-weight: 400) {
  font-weight: $font-weight;
  font-family: $ff-main;
}

@mixin f-2($font-weight: 400) {
  font-weight: $font-weight;
  font-family: $ff-2;
}

@mixin f-3($font-weight: 400) {
  font-weight: $font-weight;
  font-family: $ff-3;
}

@mixin fsl($font-size, $line-height: null) {
  font-size: unquote('#{$font-size / $fs}rem');
  @if $line-height {
    line-height: $line-height / 100%;
  }
}

// media breakpoints
$breakpoint-xs: 375px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-m: 768px;
// $breakpoint: 1024px;
$breakpoint-t: 960px;
$breakpoint: 1280px;
$breakpoint-l: 1366px;
$breakpoint-ll: 1440px;
$breakpoint-xl: 1680px;
$breakpoint-xxl: 1920px;

// color vars
$color-black: #121212;
$color-white: #fff;
$color-darken-white: #F6F6F6;
$color-blue: #2447ED;
$color-darken-blue: #0124CB;
$color-light-blue: #CAFDFA;
$color-gray: #838383;
$color-light-gray: #E0E0E0;
$color-light-green: #CAFDFA;
$color-red: #ED2424;

$transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
$transition-duration: .5s;
$transition: $transition-duration $transition-timing-function;


// grid columns
$col-count-m: 4;
$col-count-d: 12;

$col-pad-m: 16px;
$col-pad-d: 130px;

$col-gap-m: 8px;
$col-gap-d: 20px;

$col-width-m: '((100vw - (#{$col-pad-m} * 2) - (#{$col-gap-m} * #{$col-count-m - 1})) / #{$col-count-m})';
$col-width-d: '((100vw - (#{$col-pad-d} * 2) - (#{$col-gap-d} * #{$col-count-d - 1})) / #{$col-count-d})';

$col-part-m: '(#{$col-width-m} + #{$col-gap-m})';
$col-part-d: '(#{$col-width-d} + #{$col-gap-d})';

// grid mobile alt
$col-count-alt: 6;

$col-width-alt: '((100vw - (#{$col-pad-m} * 2) - (#{$col-gap-m} * #{$col-count-alt - 1})) / #{$col-count-alt})';

$col-part-alt: '(#{$col-width-alt} + #{$col-gap-m})';



@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder{
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::placeholder  {
    @content;
  }
}

@mixin scrollbar-hidden() {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin cover() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}