.margin-top {
  margin-top: 48px;

  &--md {
    margin-top: 32px;
  }

  &--xl {
    margin-top: 60px;
  }
}

.grid-container {
  --itemsCount: 4;
  --gap: 20px;

  display: grid;
  grid-template-columns: repeat(var(--itemsCount), 1fr);
  column-gap: var(--gap);
  row-gap: var(--gap);
}