.margin-top {
  margin-top: 48px;

  &--md {
    margin-top: 32px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 20px;
    }
  }

  &--xl {
    margin-top: 60px;
  }
}

.grid-container {
  --itemsCount: 4;
  --gap: 20px;
  @media (max-width: ($breakpoint - 1px)) {
    --itemsCount: 1;
    --gap: 8px;
  }

  display: grid;
  grid-template-columns: repeat(var(--itemsCount), 1fr);
  column-gap: var(--gap);
  row-gap: var(--gap);

  &--2 {
    --itemsCount: 2;
    @media (max-width: ($breakpoint - 1px)) {
      --itemsCount: 1;
      // --gap: 8px;
    }
  }
}

.nav-title {
  width: calc(#{$col-part-d} * 9 - #{$col-gap-d});
  @media (max-width: ($breakpoint - 1px)) {
    width: auto;
  }
}

.desktop {
  @media (max-width: ($breakpoint - 1px)) {
    display: none;
  }
}