@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@import "_sprites";

@import "helpers/*";

@import "vendors/*";

@import "base/*";

@import "modules/*";

@import "pages/*";

