mixin counter 
  .counter(class=attributes.class data-max-count='5')
    .counter__item.counter__item--minus(data-count-minus='')
      .counter__icon 
        |-
    input.counter__number(type="number" value="1" data-count-number='')
    .counter__item.counter__item--plus(data-count-plus='')
      .counter__icon 
        |+