mixin counter 
  .counter(class=attributes.class data-max-count='5')
    .counter__item.counter__item--minus(data-count-minus='')
      .counter__icon 
        |-
    .counter__number 
      |150
    .counter__item.counter__item--plus(data-count-plus='')
      .counter__icon 
        |+