mixin equip-card 
  a.equip-card(class=attributes.class href="#")
    .equip-card__image 
        img(src="assets/images/equip-card-1.jpg", alt="")
    .equip-card__container 
      .equip-card__title 
        |Шлифовальные станки
      if(attributes.text)
        p.equip-card__text
          |#{attributes.text}
      else 
        ul.equip-card__list 
          - for (x = 0; x < 3; x++)
            li.equip-card__item 
              |Плоскошлифовальные
    if (!attributes.noicon)
      .arrow-icon 
        +big-arrow-svg.arrow-icon__svg