mixin header
  .header 
    .header__inner 
      a.header__logo(href="#")  
        +logo-svg 
      .header__body 
        .header__top
          ul.header__list 
            each item in data.contacts 
              li.header__item 
                a.header__link(href="tel:" + item.phone) 
                  |#{item.phone}
                .header__label 
                  |#{item.city}
          .header__btn 
            a.button.button--md(href="#") 
              |Заказать звонок
        .header__bot
          .header__col
            .header__accordion
              .header__accordion-button 
                .header__accordion-text
                  |Оборудование 
                .header__accordion-icon
                  +arrow-svg
              .header__accordion-dropdown
            .header__accordion
              .header__accordion-button 
                .header__accordion-text
                  |Инструмент 
                .header__accordion-icon
                  +arrow-svg
              .header__accordion-dropdown
            ul.header__nav
              li.header__nav-item 
                a.header__nav-link(href="#") 
                  |О нас
              li.header__nav-item 
                a.header__nav-link(href="#") 
                  |Клиентам
              li.header__nav-item 
                .header__nav-button(href="#") 
                  .header__nav-text
                    |Услуги 
                  .header__nav-icon
                    +arrow-svg
                .header__nav-dropdown
              li.header__nav-item 
                a.header__nav-link(href="#") 
                  |Контакты
          .header__col
            .header__search 
              .header__search-icon 
                +search-svg
              .header__search-text 
                |Поиск по интернет-магазину
          .header__col
            .header__links 
              a.header__cart(href="#") 
                .header__cart-icon 
                  +cart-svg
                .header__cart-count 
                  |5
              .header__user(data-fancy-button='1')
                .header__user-icon
                  +user-svg
                .header__user-links 
                  .header__user-container
                    .header__user-top
                      .header__user-name 
                        |Кирилл
                    ul.header__user-list 
                      each item in ['Заказы', 'Cкидка', 'Мои данные', 'Выйти']
                        li.header__user-item
                          a.header__user-link(href="#") 
                            |#{item}
