mixin header
  .header 
    .header__inner 
      a.header__logo(href="#")  
        +logo-svg.header__svg
      .header__body 
        .header__top
          ul.header__list 
            each item in data.contacts 
              li.header__item 
                a.header__link(href="tel:" + item.phone) 
                  |#{item.phone}
                .header__label 
                  |#{item.city}
          .header__btn 
            a.button.button--md(href="#") 
              |Заказать звонок
        .header__bot
          .header__col
            .header__accordion(data-accordion-header='1')
              .header__accordion-button 
                .header__accordion-text
                  |Оборудование 
                .header__accordion-icon
                  +arrow-svg
              .header__accordion-dropdown
            .header__accordion(data-accordion-header='2')
              .header__accordion-button 
                .header__accordion-text
                  |Инструмент 
                .header__accordion-icon
                  +arrow-svg
              .header__accordion-dropdown
            ul.header__nav
              li.header__nav-item 
                a.header__nav-link(href="#") 
                  |О нас
              li.header__nav-item 
                a.header__nav-link(href="#") 
                  |Клиентам
              li.header__nav-item 
                .header__nav-button(data-accordion-header='1')
                  .header__nav-text
                    |Услуги 
                  .header__nav-icon
                    +arrow-svg
                .header__nav-dropdown
              li.header__nav-item 
                a.header__nav-link(href="#") 
                  |Контакты
          .header__col
            form.header__form(action="/") 
              label.header__search(for='search')
                button.header__search-icon 
                  +search-svg.header__search-svg
                input.header__search-input#search(type="text" name='search' placeholder="Поиск по интернет-магазину")
          .header__col
            .header__links 
              a.header__cart(href="#") 
                .header__cart-icon 
                  +cart-svg
                .header__cart-count 
                  |5
              .header__user(data-fancy-button='1')
                .header__user-icon
                  +user-svg
                .header__user-links 
                  .header__user-container
                    .header__user-top
                      .header__user-name 
                        |Кирилл
                    ul.header__user-list 
                      each item in ['Заказы', 'Cкидка', 'Мои данные', 'Выйти']
                        li.header__user-item
                          a.header__user-link(href="#") 
                            |#{item}
      .header__mobile 
        .header__mobile-col
          .header__mobile-search
            +search-svg.header__search-svg
        .header__mobile-col
          a.header__cart(href="#") 
            .header__cart-icon 
              +cart-svg.header__cart-svg
            .header__cart-count 
              |5
        .header__mobile-col
          .header__menu
            .header__burger
              span.header__burger-span
              span.header__burger-span
              span.header__burger-span
    .header__modal 
      .header__modal-overlay
      .header__modal-product(data-header-modal='1')
        .header__modal-container 
          .header__modal-row 
            .header__modal-col 
              |qwe
            .header__modal-col 
              |zxc
      .header__modal-product(data-header-modal='2')
        .header__modal-container 
          .header__modal-row 
            .header__modal-col 
              |123
            .header__modal-col 
              |rtyu