include ./model-tabs
include ./docs-card

mixin login-modal 
  .login-modal(data-fancy-modal='1')
    .login-modal__container 
      h3.login-modal__inner 
        |Войти
      .login-modal__inner 
        +model-tabs(items = ['Есть аккаунт', 'Регистрация'])
      form.form(action="/")
        .form__item 
          input.form__input(type="email" placeholder='E-mail') 
        .form__item 
          input.form__input(type="password" placeholder="Пароль") 
        .form__item 
          button.button.button--wide
            |Отправить

mixin docs-modal 
  .docs-modal(data-fancy-modal='10')
    .docs-modal__container 
      h3.docs-modal__title 
        |Материалы для скачивания
      .grid-container.grid-container--2
        - for (x = 0; x < 6; x++)
          +docs-card