include ./model-tabs

mixin login-modal 
  .login-modal(data-fancy-modal='1')
    .login-modal__container 
      h3.login-modal__inner 
        |Войти
      .login-modal__inner 
        +model-tabs(items = ['Есть аккаунт', 'Регистрация'])
      form.form(action="/")
        .form__item 
          input.form__input(type="email" placeholder='E-mail') 
        .form__item 
          input.form__input(type="password" placeholder="Пароль") 
        .form__item 
          button.button.button--wide
            |Отправить