mixin navigation 
  ul.breadcrumbs 
    li.breadcrumbs__item 
      a.breadcrumbs__link(href="#") 
        |Главная
    if(attributes.items)
      each item in attributes.items
        li.breadcrumbs__item 
          .breadcrumbs__text 
            |#{item}
    li.breadcrumbs__item 
      .breadcrumbs__text 
        |#{attributes.page}
  h1 
    |#{attributes.page}
