include ./counter

mixin product-card 
  .product-card(class=attributes.class)
    .product-card__container 
      img(src="assets/images/product.jpg", alt="")
      .product-card__top 
        img.product-card__logo(src="assets/images/product-logo.png", alt="")
        .product-card__label.desktop
          |Артикул: 9353014BTC
    .product-card__inner
      .product-card__label 
        |1 шт. в наличии
      .product-card__title 
        |Раскатник R-D TICN 376 ISO2X M14X2 2P
      .product-card__info 
        ul.product-card__list
          li.product-card__item 
            .product-card__label
              |Резьба
            .product-card__text
              |M10x1.5
          li.product-card__item 
            .product-card__label
              |Длина раскатника - L
            .product-card__text
              |9353014BTC
          li.product-card__item 
            .product-card__label
              |Размер стороны квадрата - K
            .product-card__text
              |M10x1.5
      .product-card__price 
        .tooltip
          .product-card__price-price.tooltip__row  
            |€ 93.42
            span.tooltip__span
              .tooltip__icon 
                +tooltip-svg.tooltip__svg
          .tooltip__container   
            |Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima consectetur deserunt cumque?
        .product-card__price-old
          |€ 103.55
      .product-card__bot 
        .product-card__count 
          +counter
        .product-card__button 
          +cart-svg.product-card__svg
          .product-card__button-text 
            |В корзину

