include ./counter

mixin product-card 
  .product-card(class=attributes.class)
    a.product-card__container(href="#")
      img(src="assets/images/product.jpg", alt="")
      .product-card__top 
        img.product-card__logo(src="assets/images/product-logo.png", alt="")
        .product-card__label.desktop
          |Артикул: 9353014BTC
    .product-card__inner
      .product-card__label 
        |1 шт. в наличии
      a.product-card__title(href='')
        |Раскатник R-D TICN 376 ISO2X M14X2 2P
      .product-card__info 
        ul.product-card__list
          li.product-card__item 
            .product-card__label.mr10
              |Резьба
            .product-card__text
              |M10x1.5
          li.product-card__item 
            .product-card__label.mr10
              |Длина раскатника - L
            .product-card__text
              |9353014BTC
          li.product-card__item 
            .product-card__label.mr10
              |Размер стороны квадрата - K
            .product-card__text
              |M10x1.5
      .product-card__price 
        .tooltip
          .product-card__price-price.tooltip__row  
            |₽ 93.42
            span.tooltip__span
              .tooltip__icon 
                +tooltip-svg.tooltip__svg
          .tooltip__container   
            |#{data.tooltipText}
        .product-card__price-old
          |₽ 103.55
      .product-card__bot(data-count-parent='')
        .product-card__count 
          +counter
        .product-card__btn
          .product-card__button(data-fancy-button='product1')
            +cart-svg.product-card__svg
            .product-card__button-text 
              |В корзину

