mixin tabs 
  if (attributes.real)
    .tabs(class=attributes.class data-real-tabs='')
      each item, i in attributes.tabs 
        .tabs__item(class=(i === 0 ? 'active' : '') data-tabs-item='')
          |#{item}
  else 
    .tabs(class=attributes.class data-tabs='')
      each item, i in attributes.tabs 
        .tabs__item(class=(i === 0 ? 'active' : '') data-tabs-item='')
          |#{item}